<% @tweets.each do |tweet| %>
  <div class="well">
    <div id="tweet.id">
      <h4>@<%= tweet.user.screen_name %></h4>
      <%= tweet.full_text %><br><br>
      <% if tweet.favorited? %>
        <%= button_to 'Unfavorite', tweet_path(tweet.id), method: :patch, class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'Favorite', tweet_path(tweet.id), method: :patch, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>