<% @tweets.each do |tweet| %>
  <div class="well">
    <div id="tweet.id">
      <h4>@<%= tweet.user.screen_name %></h4>
      <% if tweet.favorited? %>
        click here to unfavorite (replace with glyphicons)
      <% else %>
        <%= button_to 'Favorite', tweet_path(tweet.id), method: :favorite %>
      <% end %>
        <br>
      <%= tweet.full_text %>
    </div>
  </div>
<% end %>