<div class="container">
  <div class="well">
    <h1 class="text-center">Welcome to Twittier</h1>
    <% if @user != nil %>
      <div class="well" id="user-well">
        <%= render 'user_info' %>
      </div>
      <div class="well" id="new-tweet">
        New Tweet Form
      </div>
    <% end %>
  </div>
  <h2>Tweets</h2>
  <% 5.times do %>
    <div class="well">
      Twitter Feed Goes Here
    </div>
  <% end %>
</div>