<div class="container">
  <div class="well">
    <h1 class="text-center">Welcome to Twittier</h1>
    <% if @user != nil %>
      <%= image_tag "#{@user.image_url}" %>
    <% end %>
  </div>
  <h2>Tweets</h2>
  <% 5.times do %>
    <div class="well">
      Twitter Feed Goes Here
    </div>
  <% end %>
</div>