body {
  background-color: #67BCDB;
  padding-top: 70px;
}

.well {
  background-color: #A8CD1B;
  border: 1px solid;
}
//
//#user-image {
//  display: inline-block;
//}
//
//#user-name {
//  display: inline-block;
//}